{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules":
    {
        "no-console": 1,
        "max-len": [2, 120],
        "react/jsx-filename-extension": [1,
        {
            "extensions": [".js"]
        }],
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/href-no-hash": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/no-dynamic-require": "off",
        "no-param-reassign": ["error",
        {
            "props": false
        }],
        "func-names": ["error", "never"],
        "no-unused-vars": ["error",
        {
            "args": "none"
        }]
    },
    "env":
    {
        "browser": true,
        "node": true,
        "jest": true
    }
}